.expenses_card {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1%;
  width: 80%;
  border: none;

  label {
    margin-bottom: 2%;
  }
}

div.expenses_listing_header h3 {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 6px 0;
  border-bottom: 0.1px solid #ccc;
  font-weight: 400;
  color: #058;
}

.submit_button_wrapper {
  margin: 10% 2%;
}

.submit-btn-wrapper {
  text-align: right;
  margin-top: 2%;
}

.submit-btn {
  background-color: #337ab7;
  color: #fff;
  border-color: #2e6da4;
}

.expenses_card_body {
  text-align: center;
}

.expenses_listing_header_text {
  color: slateblue;
  font-size: 3vh;
}

.link {
  position: absolute;
  text-decoration: none;
  padding: 1%;
  font-size: 2vh;
}

.wrapper_header {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
}

.wrapper_header > div {
  width: 100%;
}
