.expenses_card {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1%;
  width: 80%;
  border: none;

  .wrapper_header {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
  }

  .wrapper_header > div {
    width: 100%;
  }

  .expenses_card_body {
    text-align: center;
  }

  .expenses_listing_header {
    text-align: center;
  }

  .expenses_listing_header_text {
    color: slateblue;
    font-size: 3vh;
  }

  .link {
    position: absolute;
    text-decoration: none;
    padding: 1%;
    font-size: 2vh;
  }

  .fields_wrapper > * {
    margin: 2%;
  }

  .form-wrapper {
      border: 1px solid #e6e6e6;
      width: 50%;
      margin: 2% auto;
      position: relative;
  }

  .expense-select {
    width: 50%;
    float: right;
  }

  #date {
    width: 50%;
    float:right;
  }

  label {
    margin-bottom: 2%;
  }

  .amount-text {
    width: 50%;
    float: right;
  }

  .description-text-area {
    width: 50%;
    float: right;
    top: -24px;
  }

  .submit_button_wrapper {
    margin: 10% 2%;
    .submit-btn {
      float: right;
    }
  }
}
