%div.card.expenses_card
  %div.wrapper_header
    %div
    %div.expenses_listing_header.expenses_listing_header_text
      Add New Expense
    %div.expenses_listing_header
      = link_to 'Back', expenses_path, class: 'link'
  %div.card-body.form-wrapper
    %div.expense_form
      = render 'form'

%br
